

.add{
    width: 70%;
    margin-left: max(5vw,25px);
    margin-top: 50px;
    color: #6d6d6d;
    font-size: 16px;
}
.add p{
    color: #6d6d6d;
}

.add form{
    gap: 20px;
}

.add-img-upload img{
    width: 120px;
}

.add-product-description,.add-product-name{
    width: max(40%,280px);
}
.add-product-description textarea,.add-product-name input{
    padding: 10px;
}

.add-caterory-price{
    display: flex;
    gap: 30px;
}

.add-caterory-price select ,.add-caterory-price input{
    max-width: 120px;
    padding: 10px;
}

.add-btn{
    max-width: 120px;
    border: none;
    padding: 10px;
    background-color: black;
    color: white;
}
@media (max-width:500px){
    .add-product-name{
        margin: auto;
        width: 90%;
    }
    .add{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .flex-col{
        display: flex;
        align-items: center;
    }
    .add-product-description{
        display: flex;
        flex-direction: column;
        width: 70%;
    }
}