.signUp{
    width: max(300px,30vw);
   height: 43vh;
   margin: auto;
   margin-top: 100px;
   padding:15px 0 ;
   border-radius: 4px;
   z-index: 1;
}

.signUp form{
   width: max(300px,30vw);
   margin-left: auto;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.signUp button {
    margin-top: 20px;
    width: 60%;
    padding: 4px 0;
    font-size: 1rem;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 4px;
}
form p{
    color: black;
    font-size: 14px;
    text-align: center;
}

form .link{
    color: blue;
}